* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe Bold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: coral;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

.nav-list a:hover {
    color: steelblue;
    background-color: peachpuff;
    transition: 1s;
    box-shadow: 12px 12px 2px 1px rgba(87, 87, 204, 0.425);
  }

.nav-list a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

h3 {
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: steelblue;
}

#project-list {
    display: flex;
    justify-content: space-around;
}

#project-list a:hover {
    color: steelblue;
    transition: .5s;
    box-shadow: 12px 12px 2px 1px rgba(87, 87, 204, 0.425);
  }

figcaption {
    text-align: center;
}

h1 {
    color: white;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    margin: 6rem;
    flex-wrap: wrap;
}

#contact a:hover {
    color: steelblue;
    transition: .5s;
    border: solid black;
    box-shadow: 12px 12px 2px 1px rgba(87, 87, 204, 0.425);
  }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: steelblue;
    color: white;
}

@media screen and (width: 600px) {
    body {
        color: violet;
    }
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}