:root {
    box-sizing: border-box;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#navbar {
    background-color: black;
    width: 100%;
    font-family: "Orbitron";
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list a {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-list li.active a {
  color: coral;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    font-family: 'Orbitron';
}

.container {
    display: flex;
}



h1 {
    color: white;
    font-family: 'Orbitron';
    font-weight: bold;
}

footer {
    font-family: 'Orbitron';
}