:root {
    box-sizing: border-box;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    font-family: 'Orbitron';
}

.container {
    display: flex;
}

.nav {
    border: solid 2px steelblue;
    padding-right: 1rem;
}

h1 {
    color: white;
    font-family: 'Orbitron';
}

body {
    background-color: black;
  }

footer {
    font-family: 'Orbitron';
}