:root {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Orbitron';
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Orbitron';
    color: white;
}

#navbar {
    background-color: black;
    font-family: "Orbitron";
    width: 100%;
    height: 27px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list a {
    display: block;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-list a:hover {
    color: steelblue;
    transition: .5s;
  }

.nav-list li.active a {
  color: coral;
}

ul {
    padding-inline-start: 0%;
    margin-block-start: 0%;
    margin-inline-start: 0%;
    margin-block-end: 0%;
  }

a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    font-family: 'Orbitron';
}

.container {
    display: flex;
}

h1 {
    color: white;
    font-family: 'Orbitron';
    font-weight: bold;
}