  
.senatorGrid {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cinzel', serif;
    text-align: center;
}

body {
    background-image: url(/images/usa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #b32134;
}

header h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
}

figure {
  margin: .5rem;
}

figcaption {
  display: flex;
  justify-content: space-around;
}

.fa-democrat {
  color: blue;
}

.fa-republican {
  color: red;
}

.fa-star {
  color: yellow;
}

.progressDiv {
  display: flex;
  flex-direction: column;
}

label {
  font-size: .75rem;
}