  
.senators {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cinzel', serif;
    text-align: center;
}

body {
    background-image: url(/images/usa.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #b32134;
}

header h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
}

 img {
    height: 15rem;
    margin: 10px;
    border: 2px solid white;
    border-radius: 12px;
  }

img:hover {
    transition: .5s;
    box-shadow: 10px 10px 2px 1px #54549e;
  }

  footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }